

.nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    align-items: center;
}

ul li:hover {
    color: red;
    cursor: pointer;
}

.nav{
    display: flex;
    gap: 70px;
    font-size: 20px;
    list-style: none;
}


.nav-header{
    justify-content: center;
    width: 80%;
}